/* ----------------- PAGE SETTINGS SECTION STARTED ----------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #DCDCDC;
}

a {
    text-decoration: none;
}

.error {
    color: #DC143C;
}

/* ----------------- PAGE SETTINGS SECTION ENDED ----------------- */


/* ----------------- TOP SECTION STARTED ----------------- */

#top-logo-text { 
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 10px;
    margin-top: 15px;
    margin-bottom: 23px;
    cursor: pointer;
    color: #191970;
}

#top-logo-text:hover {
    color: #FF6347;
}

#top-line {
    width: 100%;
    border: 2px solid #00488A;
}

#container {
    margin-top: 1%;
    padding-left: 38%;
    text-align: center;
    font-family: 'Marvel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

#text-input {
    padding: 3px 10px;
    background-color: rgba(139, 179, 224, 0.377);
    border: 1px solid grey;
    margin-right: 5px;
    margin-left: 5px;
    width: 200px;
    height: 23px;
    font-family: 'Marvel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: large;
}

#text-input:focus {
    background-color: rgba(4, 99, 163, 0.274);
    outline-color: blue;
    outline-style: hidden;
    outline-width: 4pt;
} 

#save-btn {
    font-family: 'Marvel', sans-serif;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 15px;
}

/* ----------------- TOP SECTION ENDED ----------------- */