* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


#logo-text { 
    text-align: center;
    font-family: Marvel;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 10px;
    margin-top: 15px;
    margin-bottom: 23px;
}

#top-line {
    width: 100%;
    border: 2px solid #00488A;
}

.top-text {
    text-align: center;
}

.top-text a {
    color: #191970;
    text-decoration: none;
    margin: 7%;
    font-family: Marvel;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.top-text a:hover{
    color: #1E90FF;
}

.top-text a:link{
    color: #191970;
}


#top-second-line {
    width: 100%;
    border: 2px solid #00488A;
}

#container {
    margin-top: 1%; 
    text-align: center;
    font-family: Marvel;
    font-style: normal;
    font-weight: normal;
}

#content table {
    width: 100%;
}
