

/* ----------------- PAGE SETTINGS SECTION STARTED ----------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #DCDCDC;
}

/* ----------------- PROJECT SETTINGS SECTION STARTED ----------------- */


/* ----------------- TOP SECTION STARTED ----------------- */

#top-logo-text { 
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 10px;
    margin-top: 15px;
    margin-bottom: 23px;
    cursor: pointer;
    color: #191970;
}

#top-logo-text:hover {
    color: #FF6347;
}

#top-line {
    width: 100%;
    border: 2px solid #00488A;
}

.top-text {
    text-align: center;
}

.top-text a {
    color: #191970;
    text-decoration: none;
    margin: 7%;
    font-family: Marvel;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.top-text a:hover{
    color: #1E90FF;
}

.top-text a:link{
    color: #191970;
}

#top-update-btn {
    cursor: pointer;
}

#top-delete-btn {
    cursor: pointer;
}


#top-second-line {
    width: 100%;
    border: 2px solid #00488A;
}

/* ----------------- TOP SECTION ENDED ----------------- */


/* ----------------- MAIN SECTION STARTED ----------------- */

#container {
    margin-top: 1%; 
    text-align: center;
    font-family: Marvel;
    font-style: normal;
    font-weight: normal;
}

#content table {
    width: 100%;
}

#update-btn {
    display: none;
    height: fit-content;
    font-weight: bold;
    padding: 3px 10px;
    width: fit-content;
    cursor: pointer;
}

#update-btn a {
    text-decoration: none;
    color: #191970;
}

#update-btn a:hover {
    text-decoration: none;
    color: #1E90FF;
}

#delete-btn {
    display: none;
    height: fit-content;
    font-weight: bold;
    padding: 3px 10px;
    width: fit-content;
    cursor: pointer;
}

#delete-btn a {
    text-decoration: none;
    color: #191970;
}

#delete-btn a:hover {
    color: #1E90FF;
}

/* ----------------- MAIN SECTION ENDED ----------------- */


/* ----------------- BOTTOM SECTION STARTED ----------------- */



/* ----------------- BOTTOM SECTION ENDED ----------------- */